table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	background-color: #fff;
	/* margin-top: 800px; */
}

#details {
	width: 600px;
	display: flex;
	flex-direction: horizontal;
	align-items: space-around;
}

#dashboard {
	background-color: #00bfffcb;
	height: 200vh;
}

th {
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 8px;
}

td {
	border: 1px solid #ccc;
	padding: 8px;
}

#question-table,  #history-table{
	overflow: hidden;
	overflow-y: scroll;
	height: 500px;
	margin-bottom: 50px;
}

.back-link {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4CAF50;
	/* Change to desired background color */
	color: #fff;
	/* Change to desired text color */
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.back-link:hover {
	background-color: #45a049;
	/* Change to desired hover background color */
}

.check-latest {
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

